SPOONACULAR_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_PLACES_API_KEY=
SCRAPER_URL=https://webscraper.io/test-sites/e-commerce/static/computers/laptops
FRONTEND_ORIGINS=*
THEMEALDB_API_KEY=1
THEMEALDB_BASE_URL=https://www.themealdb.com/api/json/v1
